@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;

}

:root {
  --bg-trew: #584490;
  --box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
  --bg-white: #fefefe;
  --button: #7dbbb6;
  --gray: #bcbcbc;
  --black: #202020;
}

/* -----------------navbar css-------------------------------- */

/* .logo_trew{
  width: 12%;
} */



.language {
  color: var(--bg-white);
  font-size: 12.8px;
  position: relative;
  display: inline-block;
}

.language:hover {
  color: var(--button);
}

.language:focus {
  color: var(--button);

}

.language:focus:after {
  width: 100%;
  left: 0;
}

.language:hover:after {
  width: 100%;
  left: 0;
}

.language:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -15px;
  margin-bottom: 10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: var(--button);
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}







.link_routes {
  color: var(--bg-white);
  text-transform: uppercase;
  text-decoration: none;
  /* letter-spacing: 0.15em; */
  display: inline-block;
  /* padding: 15px 20px; */
  position: relative;
}

.link_routes:hover {
  text-decoration: none;
  color: var(--bg-white);

}

.link_routes:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -15px;
  margin-bottom: 10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--bg-white);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  color: var(--bg-white);
}

.link_routes:focus:after {
  width: 100%;
  left: 0;
}

.link_routes:hover:after {
  width: 100%;
  left: 0;
}

.nav_border {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0px 20px;
  background-color: var(--bg-trew);
  box-shadow: var(--box-shadow)
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.navbar__logo {
  color: var(--bg-white);
  font-weight: bold;
}

.navbar__pages {
  color: var(--bg-white);
  font-weight: bold;
}

.navbar__pages ul {
  list-style-type: none;
  display: flex;

  margin: 0px;

}

.navbar__pages li {
  margin-left: 60px;
  font-size: .8rem;
}

.navbar__right {
  display: flex;
}

.navbar__mobile_menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.motion {

  -webkit-animation: motion 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: motion 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

@-webkit-keyframes motion {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes motion {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.navbar__mobile_menu svg {
  cursor: pointer;
}
.navbar__mobile_menu_links{
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
  background: var(--bg-trew);
  display: grid;
  /* align-items:  center; */
    top: 0px;
    left: 0;
    transition: .3s ease-in-out;
  }
  .navbar__mobile_menu_links_drop li{
  list-style-type: none;
  text-align: center;
  color: var(--bgWhite);
  font-weight: 600;
  padding: 0;
  cursor: pointer; 
  font-family: var(--fordescription);
  }
  .navbar__mobile_menu_links_drop ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
    padding: 0;
    margin-top: 140px;
   
    }
/* .navbar__mobile_menu_links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background-color: var(--bg-white);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
} */
.mobile_lang{
 padding-left: 20px;
}
.toggle{
  font-size: 24px;
}
@media screen and (max-width: 2000px) and (min-width: 768px) {
.desk_menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
}


@media screen and (max-width: 700px) {
  .navbar__pages {
    display: none;
  }

  .navbar__mobile_menu {
    display: flex;
  }
  .mobile_lang{
    display: flex;
    padding: 0 !important;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .mobile_lang a{
    margin-bottom: 60px;
    font-weight: bold;
  }
}


/* ---------------------navbar css----------------------------------- */

/* ---------------------header css--------------------- */

@media screen and (max-width: 992px) {
  .hero_middle {
    padding: 20px !important;
    flex-direction: column;
  }

  .middle_title {
    text-align: center;
    font-size: 1.6rem !important;
  }

  .both_rating {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .rating:nth-child(2) {
    margin-left: 50px;
  }

  .header_buttton {
    padding-bottom: 2rem !important;
  }

  .right_side img {
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 768px) {

  .header_buttton {
    padding-bottom: 2rem !important;
  }

  .right_side img {
    margin-bottom: 8rem;
  }

  .hero_middle {
    padding: 20px !important;
    flex-direction: column;
  }

  .middle_title {
    text-align: center;
    font-size: 1.2rem !important;
  }

  .both_rating {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .rating:nth-child(2) {
    margin-left: 50px;
  }
}

.header {
  background-color: var(--bg-trew);
}



.header_title h1 {
  /* font-size: 2.3rem; */
  color: var(--bg-white);
  font-weight: bold;
}

.header_descriptions {
  color: var(--bg-white);
  padding: 1rem 0rem;
}

.header_descriptions p {
  margin: 0;
}

.header_buttton_green {
  background-color: var(--button);
  padding: 15px 20px;
  border-radius: 20px;
  color: var(--bg-white);
  font-weight: bold;
}

.header_buttton {
  display: flex;
  justify-content: start;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.hero {
  display: flex;
  flex-wrap: wrap;
}

.right_side img {
  /* width: 608px; */
  /* margin-top: 3rem; */
  width: 100%;
  height: 70%;
}

.positioned {
  position: relative;
}

.hero_middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-trew);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 50px;
  border-radius: 20px;
  position: absolute;
  bottom: -90px;
}

.middle_title {
  color: #fefefe;
  font-weight: bold;
  font-size: 1.8rem;
}

.both_rating {
  display: flex;
  justify-content: space-between;

}

.rating {
  color: #fefefe;


}

.rating:nth-child(2) {
  margin-left: 50px;
}

.number {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.number img {
  margin-right: 1rem;
}

.inwords {
  font-weight: 500;
}

.parent {
  position: relative;
}


/* ---------------------header css--------------------- */

/* ----------------------about us----------------------- */

@media screen and (max-width: 768px) {
  .about {
    padding-top: 8rem !important;

  }

  .options {
    display: flex;
  }
}

@media screen and (max-width: 992px) {
  .about {
    padding-top: 8rem !important;

  }

  .options {
    display: flex;
    height: 60vh;
  }

  .options_down {
    padding-bottom: 0rem !important;
  }

  .options_descriptions p {
    margin: 0;
    color: #bcbcbc;
    /* font-size: .6rem !important; */
  }
}

@media screen and (max-width: 576px) {
  .about {
    padding-top: 8rem !important;

  }

  .options {
    display: grid !important;
    justify-content: center !important;
    height: 90vh;
  }

  .options_down {
    padding-bottom: 0rem !important;
  }

  .options_descriptions p {
    margin: 0;
    color: #bcbcbc;
    /* font-size: .6rem !important; */
  }
}


.aboutus {
  background-image: var(--bg-white);
}

.about {
  padding-top: 15rem;
  display: flex;
}

.about_head {
  color: #584490;
  font-weight: bold;
}

.line {
  width: 85px;
  height: 5px;
  background-color: #584490;
  border-radius: 10px;

}

.about_title {
  color: #202020;
  font-weight: bold;
}

.about_description {
  color: #bcbcbc;
}

.about_left img {
  width: 100%;
  height: 80%;
  background-size: contain;
}

/* img{
  width: 100%;
  height: 100%;
} */
.icons img {
  background-color: #584490;
  padding: 5px;
  border-radius: 10px;
  margin-right: 20px;
}

.options_things {
  display: flex;
  justify-content: center;
}

.options_title {
  /* font-size: 1.5rem; */
  font-weight: bold;
}

.options_descriptions p {
  margin: 0;
  color: #bcbcbc;
  /* font-size: .8rem; */
}

.options_heading {
  /* margin-top: 20px; */
  width: 220px;
}


.options_down {
  padding-bottom: 5rem;
}

/* --------------------about us--------------------- */



/* --------------------service css----------------------- */


@media screen and (max-width: 992px) {
  .service_box {
    flex-direction: column;
    align-items: center;
    height: 70vh;
  }
}

@media screen and (max-width: 576px) {

  .service_box_things {
    width: 300px !important;
  }

  .service_box {
    flex-direction: column;
    align-items: center;
    height: 140vh;
  }
}

.service_head {
  color: #584490;
  font-weight: bold;
}

.line_service {
  width: 90px;
  height: 5px;
  background-color: #584490;
  border-radius: 10px;


}

.service_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.service_heading {
  display: flex;
  justify-content: center;
}

.service_title {
  text-align: center;
  font-weight: bold;
}

.service_description {
  display: flex;
  justify-content: center;

}

.service_description_para p {
  margin: 0;
  color: #bcbcbc;
  /* font-size: .8rem; */
  text-align: center;

}

.service_box {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5rem;
}

.service_box_things:hover {
  background-color: #584490;
  color: #fefefe;

}

.service_box_things {
  width: 500px;
  padding: 25px;
  background: transparent;
  border: 1px solid #bcbcbc;
  border-radius: 20px;
}

.service_img {
  font-size: 80px;
  color: #bcbcbc;
}

.service_img:hover {
  font-size: 80px;
  color: #fefefe;
}

.service_box_title {
  /* font-size: 1.3rem; */
  font-weight: bold;
}

.service_box_description {
  font-size: .8rem;
  color: #bcbcbc;
}

/* --------------------service css----------------------- */


/* --------------------team css----------------------- */


@media screen and (max-width: 992px) {
  .team_box_things {
    width: 250px !important;


  }
}

@media screen and (max-width: 576px) {
  .hidden {
    display: none;
  }
}


.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {

  display: none !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 50px;
}

.team_head {
  color: #584490;
  font-weight: bold;
}

.line_team {
  width: 75px;
  height: 5px;
  background-color: #584490;
  border-radius: 10px;
}

.team_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team_heading {
  display: flex;
  justify-content: center;
}

.team_title {
  text-align: center;
  font-weight: bold;
}

.team_description {
  display: flex;
  justify-content: center;

}

.team_description_para p {
  margin: 0;
  color: #bcbcbc;
  /* font-size: .8rem; */
  text-align: center;

}

.team_box {
  padding-bottom: 10rem;
}

.team_box_things:hover {
  background-color: #584490;
  color: #fefefe !important;

}

.team_box_things {
  width: 500px;
  padding: 25px;
  background: transparent;
  border: 1px solid #bcbcbc;
  border-radius: 20px;

}

.team_img {
  color: #bcbcbc;
}

.team_img:hover {
  font-size: 80px;
  color: #fefefe;
}

.team_box_title {
  /* font-size: 1.3rem; */
  font-weight: bold;
  /* padding: 2rem 0rem; */
}

.team_box_description {
  font-size: .8rem;
  color: #bcbcbc;
}

.co {
  /* font-size: 1.1rem; */
  font-weight: 500;
  color: #bcbcbc;
}

/* .co:hover{
  color: #fefefe;
} */

.whole_team {
  position: relative;
}

.positioned_team {
  position: relative;
}

.team_middle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #584490;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  padding: 50px;
  border-radius: 20px;
  position: absolute;
  bottom: -90px;
}

.team_middle_title {
  color: #fefefe;
  font-weight: bold;

}

.swiper-slide {
  flex-shrink: 1 !important;
}

.swiper-wrapper {
  height: 8% !important;
  padding-bottom: 15rem;
}

.swiper-pagination-bullet-active {
  background: #584490 !important;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  display: none !important;
}

/* --------------------team css----------------------- */



/* --------------------pricing css----------------------- */


@media screen and (max-width: 992px) {
  .card_size {
    width: 350px;
  }

  .pricing_left {
    padding-top: 5rem;
  }
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bg-white);
}

.pricing_screen {
  background-color: var(--bg-trew);
}

.pricing {
  padding: 10rem 0rem;
  display: flex;
  justify-content: space-evenly;
}

.pricing_head {
  color: #fefefe;
  font-weight: bold;
}

.line_pricing {
  width: 85px;
  height: 5px;
  background-color: #fefefe;
  border-radius: 10px;

}

.pricing_title h1 {
  color: #fefefe;
  font-weight: bold;

}

.pricing_description {
  color: var(--bg-white);
}

.pricing_side {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox_options {
  color: #fefefe;
  font-weight: 300;
  margin-left: 20px;
  font-size: 1.1rem;
}

.pricing_checks {
  display: flex;
}

.side2 {
  margin-left: 70px;
}

.card_size {
  background-color: #fefefe;
  border-radius: 20px;
  padding: 30px;
}

.pricing_left {
  display: flex;
  justify-content: center;
}

.pricing_left_card_title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.card_descriptions {
  padding: 1rem 0rem;
  text-align: center;
}

.card_descriptions p {
  margin: 0;
  color: #bcbcbc;
}

.card_rupee {
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
}

.sym {
  color: #bcbcbc;
  font-size: 23px;
  font-weight: bold;
}

.rupee {
  font-size: 3rem;
  font-weight: bold;
}

/* ----------------------toggle icons-------------- */



.button_big {
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
}

.button_words {
  font-weight: 500;
}

.experience_button {

  background: var(--button);
  color: #fefefe;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 20px;
}

.experience {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  cursor: pointer;

}


/* --------------------pricing css----------------------- */


/* --------------------contact us----------------- */

@media screen and (max-width: 992px) {
  .contacts {
    padding-top: 4rem !important;
  }

  .contact_right {
    padding-top: 4rem;
  }
}


@media screen and (max-width: 576px) {


  .Contact_options_descriptions p {
    margin: 0;
    color: #bcbcbc;
    /* font-size: .6rem !important; */
  }
}


.contacts {
  padding-top: 10rem;
}

.contact_head {

  color: #584490;
  font-weight: bold;
}

.line_contact {
  width: 85px;
  height: 5px;
  background-color: #584490;
  border-radius: 10px;
}

.contact_head_left {
  color: #584490;
  font-weight: bold;
}

.contact_left {
  padding-right: 70px !important;
}

.line_contact_left {
  width: 125px;
  height: 5px;
  background-color: #584490;
  border-radius: 10px;
}

.contact_right {
  padding-left: 50px;
}

.contact_title {
  color: #202020;
  font-weight: bold;

}

.contact_description {
  color: #bcbcbc;

}

.Contact_icons img {
  background-color: #584490;
  padding: 5px;
  border-radius: 10px;
  width: 60px;
  margin-right: 20px;
}

.Contact_options_things {
  display: flex;
  /* justify-content: center; */
}

.Contact_options_title {
  /* font-size: 1.5rem; */
  font-weight: bold;
}

.Contact_options_descriptions p {
  margin: 0;
  color: #bcbcbc;
  /* font-size: .8rem; */
}


.Contact_options_down {
  padding-bottom: 100px;
}

.btn {
  background-color: var(--button) !important;
  color: #fefefe !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  padding: 20px 35px !important;
}


/* --------------------contact us----------------- */


/* --------------------footer css----------------------- */


.footer_screen {
  background-color: var(--bg-trew);

}


.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 13rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;

}

.footer_description {
  padding-top: 1rem;
  color: #fefefe;
}

.company_logo {
  width: 300px;
}

.footer_side {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.footer_things {
  margin-left: 100px;
}

.footer_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;

}

.sub_heading {
  font-size: .9rem;
  font-weight: 500;
  padding: .5rem 0rem;
  color: white;
}

.copy_rights {
  font-size: .8rem;
  text-align: center;
  font-weight: 700;
  padding: 25px;
  color: white;
  opacity: .7;
}

.border_left {
  margin-left: 20px;
  border-left: 2px solid #BCBCBC;
  padding: 0rem 1rem;
}

.media {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.media_icons {
  color: #fefefe;
}

@media screen and (max-width: 1000px) {
  .company_logo {
    display: none;
  }

}


/* --------------------footer css----------------------- */



/* --------------------pages routing documentations-------------------- */


.docmentation {
  background-color: var(--bg-trew);
}

.doc_line {
  width: 120px;
  height: 5px;
  background-color: #584490;
  border-radius: 10px;

}

.doc_heading {
  display: flex;
  justify-content: center;
}

.doc_title {
  color: var(--bg-white);
  font-weight: bold;
  padding-top: 5rem;

}

.doc_description {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.doc_description_para p {
  margin: 0;
  color: var(--bg-white);
  text-align: center;
}

.doc_search {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;

}

.doc_wrapper {
  width: 40%;
  box-shadow: var(--box-shadow);
  border-radius: 25px;
}

.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.doc_searchBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#doc_searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: var(--bg-white);
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 15px 20px;
  font-size: 1rem;
}

#doc_searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#doc_searchQuerySubmit:hover {
  cursor: pointer;
}

.doc_list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin: 0px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: var(--bg-trew);
}

.doc_list li {
  display: flex;
  justify-content: space-between;
  width: 148px;
  /* color: var(--bg-trew); */
}

.doc_route {
  padding-top: 5rem;
}

/* .doc_link_routes{
  text-decoration: none;
  color: var(--bg-white);
  font-weight: bold; 
} */
/* .doc_link_routes:hover{
  text-decoration: none;
  color: var(--bg-trew);
  background-color: var(--bg-white);
  font-weight: bold; 
  padding: 15px 20px;
  border-radius: 25px;
} */


.doc_list li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.doc_link_routes {
  color: var(--bg-white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  /* padding: 15px 20px; */
  position: relative;
  font-weight: 500;
}

.doc_link_routes:hover {
  color: var(--bg-white);

}

.doc_link_routes:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -15px;
  margin-bottom: 10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--bg-white);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  color: var(--bg-white);
}

.doc_link_routes:focus:after {
  width: 100%;
  left: 0;
}

.doc_link_routes:hover:after {
  width: 100%;
  left: 0;
}

.content {
  background-color: var(--bg-white);
  margin-top: 3rem;
  border-radius: 10px;
  padding: 30px;
}


.doc_header-title {
  color: var(--bg-trew);
  font-weight: 700;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid var(--bg-trew);
}

.main-section p {
  color: var(--gray);
}

.main-section ul li {
  color: var(--gray);
}



/* --------------------pages routing documentations-------------------- */





/* --------------------------------------plugin ------------------------------------------- */


.plugin {
  background: var(--bg-trew);
}

.top_area {
  padding: 6rem 0rem;
  box-sizing: border-box;
  /* border-bottom: 1px solid var(--bg-white); */
}

.right_area {}

.plugin_logo {
  display: flex;
  align-items: center;
}

.logot {}

.logotitle {
  margin-left: 20px;
}

.logotitle h1 {
  color: var(--bg-white);
  margin: 0px;
  font-weight: bold;
}

.logotitle h2 {
  color: var(--bg-white);
  margin: 0px;
  font-weight: bold;
}

.rrd {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.plan {
  color: var(--bg-white);
  margin-left: 20px;
}

.area {
  margin-top: 20px;
  margin-left: 20px;
}

.area_review {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid var(--bg-white);
  padding: 0px 30px;
  border-top: none;
  border-bottom: none;
}

.rtitle {
  color: var(--bg-white);
  font-weight: 400;
  margin-bottom: 5px;
}

.rtitle_num {
  color: var(--bg-white);
  font-weight: 400;
  text-align: center;
}

.app_btn {
  background: var(--button);
  color: var(--bg-white);
  padding: 15px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn_title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.area_img_small {
  box-sizing: border-box;
}

.collage_img {
  margin-bottom: 10px;
  /* border: 3px solid var(--bg-white); */
}

.collage_img img {
  width: 100%;
  display: inline-block;
  height: 100%;
}

/* -------------------------------highlights---------------------------- */

.highlights_area {
  background: var(--bg-white);
  padding: 6rem 0rem;
}

.highlights_title {
  font-weight: 600;
}

.high_ico {
  font-size: 24px;
}

.highlights_description {
  display: flex;
  margin-top: 20px;
}

.highlights_description1 {
  display: flex;
  margin-top: 20px;
}

.high_heading {
  margin-left: 20px;

}

.high_heading_description p {
  margin: 0;
  font-weight: 500;
}

.sub_high {
  color: var(--gray);
  font-weight: 300 !important;
  margin: 0;
}

.highlights_about_title_ {
  margin-top: 20px;
  font-weight: 600;
}

.lang {
  margin-top: 20px;
  font-weight: 500 !important;
}

.categories_link {
  text-decoration: underline;
}

.highlights_left_title {
  font-weight: 600;

}

.highlights_left_description {
  color: var(--gray);
  font-weight: 400;
  margin: 0;
}

.highlights_left_small {
  display: flex;
  align-items: center;
  color: var(--gray);
}

.highlights_left_small p {
  margin: 0;
}

.dot_plug {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--gray);
}


/* --------------------------------------pricingplugin------------------------ */

.pricingplugin {
  background-color: var(--bg-trew);
  padding: 5rem 0rem;
}

.pricingplugin_area {
  box-sizing: border-box;
  display: grid;
  justify-content: space-evenly;

}

.pricingplugin_title h4 {
  font-weight: bold;

}


.pricingplugin_title {

  color: var(--bg-white);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pricingplugin_line {
  width: 85px;
  height: 5px;
  background-color: #fefefe;
  border-radius: 10px;
  margin-top: 5px;
}

.pricingplugin_description_para p {
  margin: 0%;
  text-align: center;
  color: var(--bg-white);
}

.pricingplugin_right {
  border: 1px solid var(--bg-white);
  border-radius: 15px;
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 2rem !important;

}

.pricingplugin_left {
  border: 1px solid var(--bg-white);
  border-radius: 15px;
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 2rem !important;
}

.free {
  color: var(--bg-white);
}

.free_title {
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--bg-white);
  color: var(--bg-white);
}

.free_description {
  color: var(--bg-white);

}

.rate_plan {
  color: var(--bg-white);
}



/* ------------------------------------------reviews--------------------------- */

.reviews {
  padding: 5rem 0rem;
}

.reviews_count {
  font-weight: 600;
}

.overall {
  color: var(--gray);
  font-weight: 500;
}

.count {
  font-weight: 600;
  margin-right: 8px;
}

.starrating_reviews {
  display: flex;
  align-items: center;
}

.overall_starrating1 {
  display: flex;
  width: 300px;
}

.rating_line {
  width: 250px;
  margin: 0px 10px;
  border-bottom: 2px solid var(--gray);
}

.for_middle_rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}

.rating1 {
  margin-left: 5px;
}

.rating_count {
  font-weight: 600;
  margin-right: 8px;
  margin-bottom: 0px !important;
}


.review_title {
  border: 2px solid var(--button);
  color: var(--button);
  font-weight: 500;
  border-radius: 20px;
  padding: 15px 20px;
  cursor: pointer;
}

.staranddate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date {
  color: var(--gray);
  font-weight: 500;
}

.staranddate_description {

  font-weight: 500;
}

.reviewer_name {
  color: var(--gray);
  font-weight: 500;
  margin: 0%;
}

.country {
  color: var(--gray);
  font-weight: 500;
  margin: 0%;

}

.reviews_left1 {
  border-bottom: 1px solid var(--gray);
}

.reviews_left2 {
  margin-top: 50px;
  border-bottom: 1px solid var(--gray);
}

.view_btn {
  display: flex;
  justify-content: center;
}

.view_title {
  border: 2px solid var(--button);
  color: var(--button);
  font-weight: bold;
  border-radius: 20px;
  padding: 15px 20px;
  cursor: pointer;
}




/* --------------------------------------plugin ------------------------------------------- */






/* ---------------------------------------------------contact page route--------------------------------------------- */

.contact {
  background: var(--bg-trew);
}


.con_title {
  color: var(--bg-white);
}


.con_description_para p {
  margin: 0;
  color: var(--bg-white);
  text-align: center;
}

.ContactForm_head {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid var(--bg-trew);
  color: var(--bg-trew);
}

.contactForm_description {
  color: var(--gray);
}

.info {
  color: var(--bg-trew);
}

.con_card_size {
  background-color: #fefefe;
  border-radius: 20px;
  padding: 30px;
  box-shadow: var(--box-shadow);
}

.con_button {

  background: var(--button);
  color: #fefefe;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 20px;
}

.con_btn {
  text-align: center;
  cursor: pointer;
}


@media screen and (max-width: 992px) {
  .con_card_size {
    margin-top: 40px;

  }

  .pricing_left {
    padding-top: 5rem;
  }

}




/* ------------------------------------------------------accordion menu------------------------ */

.accordion-button:not(.collapsed) {
  color: #202020 !important;
  background-color: transparent !important;
  box-shadow: inset 0 0 var(--bs-accordion-border-color);
  /* border-bottom: 1px solid; */
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #dee2e6 !important;


}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  /* color: var(--bg-trew) !important; */
  background-image: url(../assests/arrowh.png) !important;
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed)::after {
  /* color: var(--bg-trew) !important; */
  background-image: url(../assests/arrowh.png) !important;
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion_description {
  color: var(--gray);
}
.form-control{
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}

/* ---------------------------------------------------contact page route--------------------------------------------- */